@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__logo {
        margin: 0 auto;
    }
}

.menu {
    padding-left: 35px;
    &__list {
        display: flex;
        gap: 80px;
        padding-right: 60px;
    }
    &__link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }
}

.rightside-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 694px;
    background-color: #fff;
    padding-top: 40px;
    transition: all 0.3s;
    &.rightside-menu--close {
        // только если элемент имеет оба этим класса к нему применятся эти стили
        opacity: 0;
        visibility: hidden;
    }
    &__close {
        margin: 41px 0 30px 47px;
    }
    &__content {
        max-width: 483px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo {
        display: inline-block;
        margin-bottom: 26px;
    }
    &__title {
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 17px;
        padding-bottom: 17px;
        position: relative;
        &::after {
            content: '';
            //--Вот так можно выровнять по центру дочерний элемент, который спозиционирован абсолютно
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 252px;
            // -----------------
            height: 1px;
            background-color: #6d7278;
        }
    }
    &__text {
        color: #5a5a5a;
        text-align: center;
        margin-bottom: 75px;
    }
    &__img {
        max-width: 483px;
    }
}

.top {
    &__inner {
        position: relative;
        padding-bottom: 70px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url(../images/slider-bg.jpg);
            height: 722px;
            width: 100%;
        }
    }
    &__slider-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img {
        margin-left: -10%;
        max-width: 713px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info {
        max-width: 635px;
        margin-left: 25px;
    }
    &__slider-title {
        @extend %title-font;
        font-size: 110px;
        line-height: 134px;
        color: $title;
        position: relative;
        padding-bottom: 26px;
        margin-bottom: 26px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 200px;
            background: #6d7278;
        }
    }
    &__slider-text {
        line-height: 27px;
        color: #5a5a5a;
    }
}

.new-collection {
    text-align: center;
    padding: 45px 0 105px;
    &__title {
        color: $title;
        font-size: 35px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 250px;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #6d7278;
        }
    }
    &__text {
        max-width: 730px;
        margin: 0 auto 30px;
    }
}

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    &__item {
        position: relative;
        &:hover {
            .collection__info {
                opacity: 1;
            }
        }
    }
    &__img{
        min-height: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(#fff, .7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
    }
    &__info-title {
        font-size: 20px;
        line-height: 25px;
        color: $title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after {
            content: ""; 
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: #6d7278;
            width: 80%;
            margin: 0 auto;
        }
    }
    &__info-text {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}

.footer {
    &__content {
        background-color: #dfdfdf;
        padding: 61px 0 80px;
    }
    &__inner {
        display: flex;
    }
    &__info {
        width: 537px;
    }
    &__info-title {
        @extend %title-font;
        color: $title;
        line-height: 23px;
        margin-bottom: 14px;
    }
    &__info-text {
        width: 476px;
        margin-bottom: 16px;
    }
    &__info-email {
        margin-bottom: 22px;
        display: inline-block;
        font-weight: 600;
        color: $title;
        font-size: 14px;
        padding-left: 30px;
        position: relative;
        &::before {
            content: '';
            background: url(../images/envelope.svg);
            position: absolute;
            top: 8.5px;
            left: 0;
            width: 16px;
            height: 12px;
        }
    }

    &__form {
        display: flex;
    }

    &__form-input {
        background-color: transparent;
        border: 1px solid rgba($title, 0.7);
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        flex-grow: 1;
        &::placeholder {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #a1a1a1;
        }
    }
    &__form-button {
        background: $title;
        border-radius: 21px;
        color: #fffff0;
        font-weight: 600;
        padding: 6px 12px;
        width: 160px;
        margin-left: 9px;
    }

    &__social-list {
        width: 125px;
        margin-left: 100px;
        margin-right: auto;
    }

    &__menu-list {
        width: 125px;
        margin-right: 125px;
    }
    &__social-item,
    &__menu-item {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 15px;
    }
    &__social-link,
    &__menu-link {
        color: #707070;
    }

    &__social-link {
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }

    &__social-link--facebook::before {
        background: url(../images/facebook.svg);
    }
    &__social-link--instagram::before {
        background: url(../images/instagram.svg);
        top: 4px;
        width: 14px;
        height: 14px;
    }
    &__social-link--pinterest::before {
        background: url(../images/pinterest.svg);
    }
    &__social-link--whatsapp::before {
        background: url(../images/whatsapp.svg);
        top: 4px;
        width: 14px;
        height: 14px;
    }
    &__social-link--youtube::before {
        background: url(../images/youtube.svg);
        top: 5px;
        width: 18px;
        height: 12px;
    }
    &__copyright {
        background-color: $title;
        color: #a1a1a1;
        padding: 41px 15px 42px;
        text-align: center;
    }
}
